[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Install RGBux
Exec=/opt/RGBux/bin/install
Type=Application
Icon=systemback
Terminal=false
Categories=System;
